body {
    height: 110vh;
}

main {
    height: 100vh;
}

.texto {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 4%;
    line-height: 25px;
    line-height: 30px;
    gap: 30px;
    max-width: 80%;
}

.texto li {
    margin-left: 15px;
}

a{
    align-self: center;
}