body {
    height: 210vh;
}

main {
    height: 200vh;
}


.texto {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 4%;
    line-height: 25px;
    line-height: 30px;
    gap: 30px;
    max-width: 80%;
}


footer{
    width: 97.6vw;
}