body{
    width: 100vw;
    height: 100vh;
}

main{
    height: 90vh;
}

.titulo{
    max-width: 80%;

}

#texto1{
    margin-top: 3%;
    max-width: 80%;

}

#texto2{
    margin-top: 3%;
    line-height: 25px;
    max-width: 80%;

}